### Importing and preaparing dataset

In [3]:
import pandas as pd
dataset = pd.read_csv('odi.csv')
X = dataset.iloc[:,[7,8,9,12,13]].values
y = dataset.iloc[:, 14].values

In [4]:
dataset

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,13-06-2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,13-06-2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,13-06-2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,13-06-2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,13-06-2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83302,281,25-06-2008,National Stadium,India,Hong Kong,V Sehwag,Najeeb Amar,127,1,14.3,36,1,78,45,374
83303,281,25-06-2008,National Stadium,India,Hong Kong,RG Sharma,Najeeb Amar,127,1,14.4,32,1,45,0,374
83304,281,25-06-2008,National Stadium,India,Hong Kong,RG Sharma,Najeeb Amar,127,1,14.5,32,1,45,0,374
83305,281,25-06-2008,National Stadium,India,Hong Kong,RG Sharma,Najeeb Amar,127,1,14.6,32,1,45,0,374
83306,281,25-06-2008,National Stadium,India,Hong Kong,G Gambhir,Nadeem Ahmed,127,1,15.1,31,1,45,0,374

### Train-Test Split and Scaling Features

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
from sklearn.linear_model import LinearRegression #Training model using LinearRegression
lin = LinearRegression()
lin.fit(X_train,y_train)
lin.score(X_test,y_test)

0.5584130702624097

In [8]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [9]:
y_pred = lin.predict(X_test)
score = lin.score(X_test,y_test)*100
print("R-squared value:" , score)
print("Custom accuracy:" , custom_accuracy(y_test,y_pred,20))

R-squared value: 55.84130702624097
Custom accuracy: 44.274259374849954

In [10]:
from sklearn.ensemble import RandomForestRegressor #Training Model using RandomForestRegressor
Rf = RandomForestRegressor(n_estimators=100,max_features=None)
Rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=None, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

### Evaluation

In [11]:
y_pred = Rf.predict(X_test)
score = Rf.score(X_test,y_test)*100
print("R-squared value:" , score)
print("Custom accuracy:" , custom_accuracy(y_test,y_pred,20))

R-squared value: 86.55115565328715
Custom accuracy: 85.1682911605128

### Prediction on custom input (Current Runs=127, Wickets=1, Overs=15, Striker=78, Non-striker=45)

In [40]:
import numpy as np
new_prediction = Rf.predict(sc.transform(np.array([[127,1,15,78,45]])))
print("Prediction score:" , new_prediction)

Prediction score: [372.26]